// SCSS VARIABLES ENVIORMENT - FONTS - COLORS - BACKGROUND - SIZE
/*------ FONTS -----*/
$RussOne: "Russo One", sans-serif;
$Rajdhani: "Rajdhani", sans-serif;
$ZenDots: "Zen Dots", cursive;
$Gilroy: Gilroy_light;

/*------ COLORS -----*/
$primary_clr: #000;
$secondary_clr: #fff;
$blue_clr: #22526c;
$skyblue_clr: #43A3D8;
$nav_oil_clr: #D9E373;
$card_bg: #F8F8F8;

/*------ BACKGROUND -----*/
$primary_bg: #000;
$secondary_bg: #fff;

/*------ SIZE -----*/
$extra_small_max: 576px;
$small: 567px;
$medium: 768px;
$large: 992px;
$extra_large: 1200px;